@model IEnumerable<WebApplication11.Models.Employee>

<div class="container">
    <h2 class="text-center">All Employees</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.Email</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Detail" asp-route-id="@employee.Id">View</a>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@employee.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-controller="Employee" asp-action="create">Create Employee</a>
</div>